.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 22px;
  z-index: 2;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  width: 189px;
  margin-right: 81px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #fff;
}

.header__logo-icon {
  margin-right: 16px;
}

.header__nav {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.header__link {
  margin-right: 60px;
}

.btn {
  padding: 22px 25px 17px 24px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  cursor: pointer;
}

.hero {
  position: relative;
  background: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 720px;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 218px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__arrow {
  position: relative;
  cursor: pointer;
}

.hero__arrow-icon {
  z-index: 10;
  position: absolute;
  bottom: 60px;
  right: -9px;
}

.hero__title {
  position: relative;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
  color: #FFFFFF;
}

.hero__desc {
  margin-top: 20px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1343px) {
  .header__link {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1193px) {
  .header__link {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1118px) {
  .flex .header__nav {
    display: none;
  }
}

.appointment {
  width: 100%;
  position: absolute;
  bottom: -284px;
  left: 0;
}

.appointment__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.appointment__img {
  z-index: 2;
  border-radius: 4px;
  position: relative;
  width: 600px;
  height: 600px;
}

.appointment__patern {
  position: absolute;
  bottom: -74px;
  left: 54px;
}

.appointment__form {
  margin-left: 69px;
  padding: 40px;
  background: #fff;
  border: 1px solid #eeeeee;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.0602054);
          box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.0602054);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.appointment__title {
  padding-bottom: 23.58px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #0F1C49;
  text-align: center;
}

.appointment__select {
  position: relative;
  padding: 19px 23px 18px 24px;
  width: 420px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0F1C49;
}

.appointment__select-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: url(../img/drop-down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.appointment__input {
  margin-top: 16px;
  padding: 19px 23px 18px 24px;
  width: 371px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #0F1C49;
}

.appointment_submit {
  margin-top: 16px;
  width: 420px;
  padding: 20px 137px 19px 136px;
  background: #09a4d8;
  border-radius: 4px;
  border: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (max-width: 1325px) {
  .appointment__img {
    width: 450px;
    height: 450px;
  }
  .appointment__patern {
    bottom: 82px;
  }
}

@media screen and (max-width: 1200px) {
  .appointment__img,
  .appointment__patern {
    display: none;
  }
  .appointment__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .appointment__form {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .appointment__form {
    padding: 20px;
  }
  .appointment__select {
    width: 320px;
    padding: 9.5px 11px 9px 12px;
  }
  .appointment__input {
    margin-top: 8px;
    padding: 9.5px 11px 9px 12px;
    width: 295px;
  }
  .appointment_submit {
    margin-top: 8px;
    width: 320px;
    padding: 20px 137px 19px 136px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .appointment {
    bottom: -50px;
  }
}

.about {
  padding-top: 641px;
}

.about__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 135px;
  border-bottom: 1px solid #eee;
}

.about__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #09A4D8;
  text-transform: uppercase;
}

.about__text {
  margin-top: 9px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0F1C49;
}

.about__subtext {
  margin-top: 28px;
  width: 533px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #878DA4;
}

.services {
  padding-top: 127px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #09A4D8;
  text-transform: uppercase;
}

.services__text {
  margin-top: 8px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #0F1C49;
}

.services__bold {
  font-weight: bold;
}

.services__subtext {
  margin-top: 32px;
  width: 470px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #878DA4;
}

.services__lists {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__list {
  list-style-type: circle;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: #878DA4;
}

.services__btn {
  z-index: 2;
  position: relative;
  margin-top: 40px;
  padding: 20px 24px 19px 24px;
  background: #09A4D8;
  border-radius: 4px;
  border: none;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

.services__btn-icon {
  z-index: 1;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 242px;
  margin-top: 13px;
}

.services__items {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__item {
  width: 270px;
  height: 270px;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item:nth-child(1) {
  margin-left: 90px;
}

.services__item:nth-child(2) {
  margin-top: 100px;
  margin-left: 30px;
}

.services__item:nth-child(3) {
  margin-top: -70px;
  margin-left: 90px;
}

.services__item:nth-child(4) {
  margin-top: 30px;
  margin-left: 30px;
}

.services__icon {
  padding-top: 60px;
}

.services__name {
  margin-top: 32px;
  padding-bottom: 61px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #0F1C49;
}

@media screen and (max-width: 1439px) {
  .services__items {
    margin-left: 20px;
  }
}

@media screen and (max-width: 1419px) {
  .services__items {
    margin-left: 10px;
  }
  .services__item:nth-child(1) {
    margin-left: 45px;
  }
  .services__item:nth-child(2) {
    margin-left: 15px;
  }
  .services__item:nth-child(3) {
    margin-left: 45px;
  }
  .services__item:nth-child(4) {
    margin-left: 15px;
  }
}

@media screen and (max-width: 1349px) {
  .services__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__item {
    margin: 5px;
  }
  .services__item:nth-child(1) {
    margin-top: 0;
    margin-left: 0;
  }
  .services__item:nth-child(2) {
    margin-top: 0;
    margin-left: 0;
  }
  .services__item:nth-child(3) {
    margin-top: 0;
    margin-left: 0;
  }
  .services__item:nth-child(4) {
    margin-top: 0;
    margin-left: 0;
  }
}

@media screen and (max-width: 1299px) {
  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__btn-icon {
    display: none;
  }
  .services__title,
  .services__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .services__items {
    margin-top: 20px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__item {
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__icon {
    padding-top: 30px;
    width: 75px;
    height: 75px;
  }
  .services__name {
    margin-top: 16px;
    padding-bottom: 30.5px;
    font-size: 18px;
  }
}

.experts {
  padding-top: 120px;
}

.experts__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experts__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #09A4D8;
  text-transform: uppercase;
}

.experts__text {
  margin-top: 8px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0F1C49;
}

.experts__bold {
  font-weight: bold;
}

.experts__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.experts__item {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experts__item:nth-child(1) {
  margin-top: -70px;
}

.experts__item:nth-child(2) {
  margin-top: 80px;
}

.experts__item:nth-child(3) {
  margin-top: -70px;
}

.experts__item:nth-child(4) {
  margin-top: 80px;
  margin-right: 0;
}

.experts__photo {
  border-radius: 8px;
}

.experts__name {
  padding-left: 24px;
  margin-top: 24px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #0F1C49;
}

.experts__position {
  padding-left: 24px;
  margin-top: 8px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #878DA4;
  text-transform: uppercase;
}

@media screen and (max-width: 749px) {
  .experts__item {
    margin-right: 0;
    margin: 10px;
  }
  .experts__item:nth-child(1) {
    margin-top: 0;
  }
  .experts__item:nth-child(2) {
    margin-top: 0px;
  }
  .experts__item:nth-child(3) {
    margin-top: 0px;
  }
  .experts__item:nth-child(4) {
    margin-top: 0px;
  }
}

.team {
  padding: 120px 0;
}

.team__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__title {
  padding: 0 32px;
  border-bottom: 4px solid #09A4D8;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0F1C49;
}

.team__text {
  width: 533px;
  margin-top: 28px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #878DA4;
}

.team__view {
  margin-top: 52px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #09A4D8;
}

.news {
  padding-top: 220px;
  padding-bottom: 120px;
}

.news__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__title {
  margin-bottom: 8px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #09A4D8;
}

.news__subtext {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #0F1C49;
}

.news__items {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__item {
  margin-right: 30px;
}

.news__item:last-child {
  margin-right: 0;
}

.news__img {
  border-radius: 8px;
}

.news__block-text {
  margin-top: 24px;
}

.news__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #878DA4;
}

.news__date {
  position: relative;
  margin-left: 19px;
}

.news__date:before {
  content: '';
  position: absolute;
  background: #D8D8D8;
  top: 6px;
  left: -11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.news__link {
  margin-top: 8px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #0F1C49;
}

.news__view {
  margin-top: 80px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #09A4D8;
}

.footer {
  padding-top: 40px;
  background: linear-gradient(136.8deg, #08B4E4 -3.42%, #0B7EBA 37.91%, #0E418A 91.17%), #D8D8D8;
}

.footer__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__title {
  margin-bottom: 8px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.footer__subtext {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  color: #FFFFFF;
}

.footer__body {
  width: 100%;
  padding: 56px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__desc {
  margin-top: 39px;
  margin-bottom: 24px;
  width: 370px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts {
  margin-bottom: 16px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts-icon {
  margin-right: 8px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__list {
  margin-left: 160px;
}

.footer__name {
  margin-bottom: 24px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #FFFFFF;
}

.footer__link {
  margin-bottom: 24px;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

.copyright {
  padding: 16px 0;
  background: #103365;
}

.copyright__wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright__title {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: 'Roboto Slab', serif;
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 135px;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 75px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0 30px;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */