// Rules
@import 'rules/colors';
// Sections
@import 'sections/header';
@import 'sections/appointment';
@import 'sections/about';
@import 'sections/services';
@import 'sections/experts';
@import 'sections/team';
@import 'sections/news';
@import 'sections/footer';

body {
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 135px;
}

@media screen and (max-width: 1200px) {

    .header .container,
    .appointment .container,
    .about .container,
    .services .container,
    .experts .container,
    .team .container,
    .news .container,
    .footer .container,
    .copyright .container {
        padding: 0 75px;
    }
}

@media screen and (max-width: 755px) {

    .header .container,
    .appointment .container,
    .about .container,
    .services .container,
    .experts .container,
    .team .container,
    .news .container,
    .footer .container,
    .copyright .container {
        padding: 0 35px;
    }
}

@media screen and (max-width: 600px) {

    .header .container,
    .appointment .container,
    .about .container,
    .services .container,
    .experts .container,
    .team .container,
    .news .container,
    .footer .container,
    .copyright .container {
        padding: 0 20px;
    }
}

.flex {
    display: flex;
    align-items: center;
}