.appointment {
    width: 100%;
    position: absolute;
    bottom: -284px;
    left: 0;
}

.appointment__container {}

.appointment__wrapper {
    display: flex;
}

.appointment__img {
    z-index: 2;
    border-radius: 4px;
    position: relative;
    width: 600px;
    height: 600px;
}

.appointment__patern {
    position: absolute;
    bottom: -74px;
    left: 54px;
}

.appointment__patern-icon {}

.appointment__form {
    margin-left: 69px;
    padding: 40px;
    background: #fff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.0602054);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.appointment__title {
    padding-bottom: 23.58px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: $dark-blue;
    text-align: center;
}

.appointment__select {
    position: relative;
    padding: 19px 23px 18px 24px;
    width: 420px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $dark-blue;
}

.appointment__select-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: url(../img/drop-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.appointment__input {
    margin-top: 16px;
    padding: 19px 23px 18px 24px;
    width: 371px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: $dark-blue;
}

.appointment_submit {
    margin-top: 16px;
    width: 420px;
    padding: 20px 137px 19px 136px;
    background: #09a4d8;
    border-radius: 4px;
    border: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    cursor: pointer;
}

@media screen and (max-width: 1325px) {
    .appointment__img {
        width: 450px;
        height: 450px;
    }

    .appointment__patern {
        bottom: 82px;
    }
}

@media screen and (max-width: 1200px) {

    .appointment__img,
    .appointment__patern {
        display: none;
    }

    .appointment__wrapper {
        justify-content: center;
    }

    .appointment__form {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .appointment__form {
        padding: 20px;
    }

    .appointment__select {
        width: 320px;
        padding: 9.5px 11px 9px 12px;
    }

    .appointment__input {
        margin-top: 8px;
        padding: 9.5px 11px 9px 12px;
        width: 295px;
    }

    .appointment_submit {
        margin-top: 8px;
        width: 320px;
        padding: 20px 137px 19px 136px;
        display: flex;
        justify-content: center;
    }

    .appointment {
        bottom: -50px;
    }

}