.clients {
    background: rgba(30, 134, 169, 0.04);
    height: 360px;
}

.clients__wrapper {
    position: relative;
}

.clients__info {
    position: relative;
    margin-top: 100px;
}

.clients__title {
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: $blue;
    text-transform: uppercase;
}

.clients__text {
    margin-top: 8px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: $dark-blue;
}

.clients__bold {
    font-weight: bold;
}

.clients__pattern {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: -71px;
    right: 20px;
}



// Sliders

.clients__sliders {
    overflow: hidden;
    position: absolute;
    top: 98px;
    left: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clients__pagination {
    display: flex;
    position: absolute;
    left: -83px;
    bottom: 44px;
}

.clients__pagination-icon {
    margin-right: 96px;
}

.clients__slider {
    margin-right: 30px;
    background: #fff;
    width: 370px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #F1F1F1;
    // box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.clients__slider:last-child {
    margin-right: 0;
}

.clients__client {
    padding: 48px 48px 0 48px;
    width: 100%;
    display: flex;
    align-items: center;
}

.clients__photo {
    width: 64px;
    height: 64px;
}

.clients__client-info {
    margin-left: 21px;
}

.clients__name {
    margin-bottom: 4px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: $dark-blue;
}

.clients__patient {
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $grey;
}

.clients__desc {
    padding: 0 48px;
    margin-top: 40px;
    margin-bottom: 96px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $grey;
}